.swiper {
  position: relative;
  top: 0;
  left: 0;
}

.swiper-slide {
  background-color: var(--primary-color);

  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-position: center;

  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.swiperBottom {
  height: 20%;
  width: 100%;
  padding: 10px 0;

  & .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  & .swiper-slide-thumb-active {
    opacity: 1;
  }
}

.navBox {
  display: flex;
  gap: 8px;

  position: absolute;
  bottom: 8px;
  right: 8px;
  z-index: 600;
}

.navBtn {
  color: var(--background);

  width: 40px;
  height: 40px;
  padding: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--primary-color-op);
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: var(--primary-color);
  }
}
