.swiper {
  position: relative;
  top: 0;
  left: 0;

  margin-bottom: 16px;
}

.swiperSlide {
  background-size: cover;
  background-position: center;

  position: relative;
  top: 0;
  left: 0;
}

.swiperBottom {
  height: 90px;
  width: 100%;

  & .swiperSlide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
    overflow: hidden;
  }

  & :global(.swiper-slide-thumb-active) {
    opacity: 1;
  }
}

.navBox {
  display: flex;
  gap: 8px;

  position: absolute;
  bottom: 8px;
  right: 8px;
  z-index: 600;
}

.navBtn {
  color: var(--background);

  width: 40px;
  height: 40px;
  padding: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--primary-color-op);
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: var(--primary-color);
  }
}

.slideDesc {
  opacity: 0.8;
  position: absolute;
  bottom: 4px;
  left: 8px;
  max-width: 223px;
}
