.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(33, 37, 41, 0.6);
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
}
.backdrop.show {
  opacity: 1;
  pointer-events: auto;
}

.sidebar {
  position: fixed;
  top: 2.5%;
  right: 2.5%;
  z-index: 1001;

  width: 65%;
  height: 95%;
  padding: 32px 0;
  border-radius: 16px;

  background-color: var(--primary-color-op);
  box-shadow: var(--box-shadow);

  @media only screen and (min-width: 768px) {
  }

  @media only screen and (min-width: 1440px) {
  }
}
.closed {
  transform: translateX(100%);
}
.open {
  transform: translateX(0);
}

.sidebarContainer {
  min-width: 0;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar button {
  color: var(--background);

  &:hover,
  &:focus {
    transform: scale(1.15);
  }
}

.btnClose {
  align-self: flex-start;
  width: 40px;
  height: 40px;

  @media only screen and (min-width: 768px) {
  }

  @media only screen and (min-width: 1440px) {
  }
}

.nav {
  margin-top: 115%;

  text-align: center;
}

.btnLang {
  width: 32px;
  height: 32px;

  margin-top: auto;

  @media only screen and (min-width: 768px) {
  }

  @media only screen and (min-width: 1440px) {
  }
}
