.hero {
  padding-top: calc(40px + var(--header-height)) !important;
  height: 640px;

  color: var(--background);
  box-shadow: var(--box-shadow);

  background:
    linear-gradient(
      90deg,
      rgba(43, 43, 43, 0.35) 0%,
      rgba(43, 43, 43, 0.85) 100%
    ),
    url("/hero/hero-min.webp") no-repeat center/cover;

  @media screen and (min-resolution: 2x) {
    background:
      linear-gradient(
        90deg,
        rgba(43, 43, 43, 0.35) 0%,
        rgba(43, 43, 43, 0.85) 100%
      ),
      url("/hero/hero-min.webp") no-repeat center/cover; /* ! */
  }
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.heading {
  text-transform: uppercase;

  margin-bottom: 48px;
}

.subHeading {
  text-transform: uppercase;
  text-align: right;
}

.link {
  width: fit-content;
  padding: 12px;
  margin-top: auto;

  border-radius: 8px;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
}
