@import "./css/reset.css";
@import "./css/base.css";
@import "modern-normalize/modern-normalize.css";

:root {
  --background: #fff;
  --foreground: #001;
  --primary-color: #521a1a;
  --primary-color-op: #521a1abb;
  --box-shadow: 0 5px 15px rgba(75, 53, 53, 0.3);
  --header-height: 92px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #001;
    --foreground: #fff;
  }

  html {
    color-scheme: dark;
  }
} */

html {
  scroll-padding-top: var(--header-height);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  color: var(--background);
  background: var(--background);
  min-width: 320px;
}
