:root {
  --background: #fff;
  --foreground: #001;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #001;
    --foreground: #fff;
  }

  html {
    color-scheme: dark;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto), sans-serif;
  min-width: 320px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
