.hero {
  padding: calc(40px + var(--header-height)) 0
    calc(28px + var(--bottom-div-height)) !important;
  height: 640px;
  max-width: 375px;
  margin: 0 auto;

  color: var(--background);

  background:
    linear-gradient(
      90deg,
      rgba(43, 43, 43, 0.35) 0%,
      rgba(43, 43, 43, 0.85) 100%
    ),
    url("/hero/hero.jpg") no-repeat center/cover;

  position: relative;

  @media screen and (min-resolution: 2x) {
    background:
      linear-gradient(
        90deg,
        rgba(43, 43, 43, 0.35) 0%,
        rgba(43, 43, 43, 0.85) 100%
      ),
      url("/hero/hero@2x.jpg") no-repeat center/cover;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 1024px;
  }
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.heading {
  text-transform: uppercase;

  margin-bottom: 48px;
}

.subHeading {
  text-transform: uppercase;
  align-self: end;
  text-align: right;
  font-size: 32px;
  line-height: 120%;
  font-weight: bold;
  max-width: 300px;
}

.link {
  width: fit-content;
  padding: 12px;
  margin-top: auto;

  border-radius: 8px;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);

  @media screen and (min-width: 768px) {
    font-size: 20px;
    padding: 20px;
  }
}

.bottomDiv {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNmZmZmZmYiPjxwYXRoIGQ9Ik0zMjAgMjhDMTYwIDI4IDgwIDQ5IDAgNzBWMGgxMjgwdjcwYy04MCAyMS0xNjAgNDItMzIwIDQyLTMyMCAwLTMyMC04NC02NDAtODR6Ii8+PC9nPjwvc3ZnPg");
  background-size: 100% 101%;
  width: calc(100% + 1px);
  height: 80px;
  z-index: 500;
  transform: scale(1, -1);
  position: absolute;
  left: -1;
  bottom: -1;
}
