.footer {
  padding: 24px 0;

  background-color: var(--foreground);
}

.container {
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.socialsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.socialsLink {
  display: flex;
  align-items: center;
  gap: 4px;

  svg {
    width: 16px;
    height: 16px;
  }
}

.copyright {
  text-align: center;
  font-size: 12px;
  opacity: 0.6;
}
